.App-header {
  background-color: #adadac;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  padding-top: 65px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 70px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
